* {
  display: block;
  margin: 0;
  padding: 0;
}

html  {
  height: 100vh;
  min-height: 640px;
  width: 100vw;
  min-width: 360px;
}

title {
display: none;
}

body  {
  height: 100vh;
  min-height: 640px;
  width: 100vw;
  min-width: 360px;
}

.gameStage {
  height: 640px;
  width: 480px;
  overflow: hidden;
  position: absolute;
}

.mainBodyBackground {
  position: absolute;
  height: 560px;
  width: 480px;
  background-image: url('../media/images/background.png');
  background-size: 480px 560px;
  z-index: -1;
}

.mainBodyGround {
  position: absolute;
  height: 80px;
  width: 1000px;
  background-image: url('../media/images/ground.png');
  background-size: auto 80px;
  background-repeat: repeat;
  bottom: 0;
  z-index: 1;
}

.mainBodyGround2  {
  position: absolute;
  height: 80px;
  width: 1000px;
  background-image: url('../media/images/ground.png');
  background-size: auto 80px;
  background-repeat: repeat;
  bottom: 0;
  z-index: 1;
  left: 1500px;
}

.bottomPipeStructure  {
  height: 494px;
  width: 86px;
  position: absolute;
  background-image: url('../media/images/pipe.png');
  background-size: 86px 494px;
}

.topPipeStructure {
  height: 494px;
  width: 86px;
  position: absolute;
  background-image: url('../media/images/pipe.png');
  background-size: 86px 494px;
  transform: rotate(180deg);
}

.bird {
  height: 45px;
  width: 65px;
  position: absolute;
  background-image: url('../media/images/bird.png');
  background-size: 194px 45px;
  top: 50%;
  left: 50%;
  margin-left: -32.5px;
}

#birdFrame2 {
  /*margin-top: 50px;*/
}

#birdFrame3 {
  /*margin-top: 100px;*/
}

