* {
  display: block;
  margin: 0;
  padding: 0;
}

html  {
  height: 100vh;
  min-height: 640px;
  width: 100vw;
  min-width: 360px;
}

title {
display: none;
}

body  {
  height: 100vh;
  min-height: 640px;
  width: 100vw;
  min-width: 360px;
}

.gameStage {
  height: 500px;
  width: 1000px;
  overflow: hidden;
  position: absolute;
}

.mainBodyBackground {
  position: absolute;
  height: 500px;
  width: 1000px;
  background-image: url('../media/images/background.png');
  background-size: auto 372px;
  z-index: -1;
}

.mainBodyGround {
  position: absolute;
  height: 128px;
  width: 1000px;
  background-image: url('../media/images/ground.png');
  background-size: 35.7px 128px;
  background-repeat: repeat;
  bottom: 0;
  z-index: 1;
}

.mainBodyGround2  {
  position: absolute;
  height: 128px;
  width: 1000px;
  background-image: url('../media/images/ground.png');
  background-size: 35.7px 128px;
  background-repeat: repeat;
  bottom: 0;
  z-index: 1;
  left: 1500px;
}